* {
    background-color: black;
}

.flashy {
    color: red;
    font-style: italic;
}

.cupcake-images {
    width: 50%;
    background-color: white;
}

.cupcakes {
  width: 50%;
}

#best {
    font-size: larger;
    color: white;
}
