* {
    background-color: black;
}

.flashy {
    color: red;
    font-style: italic;
    float: right;
}

.page-heading {
  color:red;
  text-align: center;
}

.sugar {
    font-weight: bold;
    color: yellow
}

.cupcake-images {
  width:50%;
  float:left;
}

.cupcakes {
  width: 50%;
}

#best {
    font-size: larger;
    color: white;
}

.sidebar {
  width: 50%;
    font-size: 25px;
    color: red;
    float: right;
}

.most-popular {
  float: left;
}