body {
    background-color: black;
}

.flashy {
    color: red;
    font-style: italic;
    float: right;
}

.page-heading {
    color: red;
    text-align: center;
}

.sugar {
    font-weight: bold;
    color: yellow;
}

.cupcake-images {
    width: 50%;
    float: left;
}

.cupcakes {
    width: 50%;
}

#best {
    font-size: larger;
    color: white;
}

.sidebar {
  background-color: white;
    width: 50%;
    font-size: 25px;
    color: red;
    float: right;
    text-align: center;
    padding: 10px;
    border: solid 5px;
    border-radius: 10px 5px 10px 5px;
   box-sizing: border-box;
}

.sidebar h2{
  margin: 5px;
}

.most-popular {
    float: left;
}
